$primary-fonts: georgia, 'georgia', serif;
$heading-fonts: $primary-fonts;
$topbar-fonts: 'Varela', 'Century Gothic','Lucida Grande', 'Lucida Sans Unicode', Tahoma, sans-serif;
$footer-fonts: 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, sans-serif;

$background-color: #fff;
$text-color: #212121;
$link-color: #c62828;
