// These are the Material design 800 colors
$color-white:  #fff;
$color-grey:   #212121;
$color-red:    #c62828;
$color-blue:   #1565c0;
$color-cyan:   #00838f;
$color-teal:   #00695c;
$color-green:  #2e7d32;
$color-orange: #d84315;

// Font-families
$primary-fonts: 'Open Sans', sans-serif;
$heading-fonts: 'Open Sans Condensed', sans-serif;
$topbar-fonts:  $primary-fonts;
$footer-fonts:  $primary-fonts;

// Color aliases
$background-color: $color-white;
$text-color:       $color-grey;
$link-color:       $color-red;

