<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8"/>
	<meta name="description" content="Karl Herler is an Finnish born Interaction Designer, computer science, psychology and mathematics student at Abo Akademi University and moderator at Interaction Design Association.">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	
	<link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
	
	<link type="text/css" rel="stylesheet" href="includes/css/default.css" />	
	<title>Karl Herler</title>
</head>
<!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->
	{{ content }}

	<script type="text/javascript" src="http://www.observerapp.com/record.js"></script>
	<script type="text/javascript">
		try { Observerapp.record("4c8e508272432d2b3600989c"); } catch(e) {};
	</script>

	<script src="http://platform.twitter.com/anywhere.js?id= crvMjoYya9vzDl2KtK54Ng&v=1" type="text/javascript"></script>
	<script src="includes/jquery-1.4.min.js" type="text/javascript"></script>
	<script type="text/javascript">
		//ganalytics
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-17179751-1']);
		_gaq.push(['_setDomainName', '.karlherler.com']);
		_gaq.push(['_trackPageview']);

		(function() {
	 		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	  		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	  		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

		//for @anywhere
		twttr.anywhere(function (T) {
		    T.hovercards();
		  });
	</script>
</body>
</html>